/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: sans-serif;
}
.wrapper{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* HEADER */
header{



}
.upper-option{
    justify-content: flex-end;
    gap:5px;
    padding: 5px;



}

.upper-option span{
    font-size: 0.6rem;
    background-color: grey;
    border-radius: 5px;
    padding: 3px;

}

/* MAIN */
.cams{
    flex-wrap: wrap;
    padding: 40px 0;

}

.single-cam{
    width: calc(100%/7);


    /* dubug */
    height: 90px;
    border: 2px red solid;
    
}



/* FOOTER */